<!-- body tags are required so static-html knows where to stick this HTML -->
<body>

  <template id="app">
    <div class="app">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Meteor Mogul Todos</h1>
            <input type="text"
                   class="form-control"
                   placeholder="Add a new todo here"
                   v-model="newTodo"
                   @keyup.enter="addNewTodo">
            <div class="todo-list">
              <div class="todo" v-for="todo in todos">
                <button class="todo-remove" @click="removeTodo(todo)">&times;</button>
                <span> {{ todo.title }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

</body>
